




body {
  background:#777
}

.character {
  border: solid black 5px;
}

.chara-button {
  display: block;
}

.user-chara-sel {
  border-color:green;
}

.comp-chara-sel {
  border-color:red;
}

.character-select {
  clear: both;
}

#enemy-select {
 
  padding:0.5rem 6rem;
  min-height: 12rem;
  width:100%;
}

.select-box{
 
  padding:0.5rem 6rem;
  min-height: 12rem;
  width:100%;
}


#attack-target {
  float: left !important;
  clear: both;
  margin-top:1rem;
}

.imgClear {
  clear: both;
}

.after-action {
  font-size: 1rem;
  color: white;
  padding: 1rem;
  background:black;
  
  clear: both;
}

.after-action-box {
  font-size: 1rem;
  color: white;
  padding: 1rem;
  background:black;
  
  clear: both;
}

.char-text {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  background: white;
  color:black;
}

.game-text {
  width: 25%;
  position: absolute;
  right: 0;
  padding: 2%;
  overflow: hidden;
  z-index: 0 !important;
}

.after-action-list {
    align-self: center;
    justify-self: center;
    
    margin: 10px;
    
    font-size: 1.19rem;
    list-style: none;
}
