* {
  box-sizing: border-box;
  z-index: 1;
}

body {
  padding: 0;
  margin: 0;
  
}


.battleground {
  overflow: auto;
  margin: 1rem;
}

.character {
  float: left;
  border: solid black 5px;
  margin-left: 10px;
  width: 11rem !important;
  
}

.character-image {
  width: 100%;
}

.chara-button {
  width: 18%;
  display: block;
  clear: both;
}

.attack-button {
  margin-left: 10px;
  width: 11rem !important;
  clear:both;
  overflow: auto;

}

.buttons {
  display:block;
  float: left;
  clear: both;
  overflow: auto;
  margin-top:20px;
  width:100%;
}

.user-chara-sel {
  border-color:red;
}

.comp-chara-sel {
  border-color:green;
}

#char-sel {
  float: left;
  clear: both;
  display: flex;
}

#enemy-select {
  display: flex;
  float: left;
  clear: both;
  padding:0.5rem 6rem;
  min-height: 12rem;
  background:grey;
  width:100%;
}

.select-box{
  display: flex;
  float: left;
  clear: both;
  padding:0.5rem 6rem;
  min-height: 12rem;
  width:100%;
}

#attack-button {
  float: left;
  clear: both;
  padding: 2rem;
  background: black;
  color: white;
  font-size:2rem;
}

#attack-target {
  float: left !important;
  clear: both;
  margin-top:1rem;
  
}


.smaller {
  width:25%;
}

.imgClear {
  float: left;
  clear: both;
  overflow: auto;
}

.after-action {
  font: size 1rem;
  color: white;
  padding: 1rem;
  background:black;
  float: left;
  clear: both;
}

.char-text {
  text-align: center;
  text-transform: uppercase;
  padding:1px;
  background: white;
}

.game-text {
  width: 50%;
  position: absolute;
  right: 0;
  font-size: 2rem;
  padding: 2%;
  overflow: hidden;
  z-index: 0 !important;
}
